<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 text-center" id="top-bar">
      <img id="burger-image" src="/assets/images/burger.png" alt="burger" />
      <h1>Eat-A-Burger!</h1>
    </div>
  </div>

  <div class="row middle-row">
    <div class="col-xs-6 text-center not-eaten">

      <h3>Burgers that have not been eaten!</h3>

      <div class="row ">

          {{#each burgers}}
            {{#unless this.devoured}}
              <div class="col-xs-9 text-center">
              
                <pre>{{this.id}}. {{this.burger_name}}</pre>
              </div>

              <div class="col-xs-3 text-center">
                <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="1">
                    <button class="btn btn-info pull-right" type="submit">EAT BURGER!</button>
                </form>
              </div>
              
            {{/unless}}
          {{/each}}
      </div>
      
    </div>

    <div class="col-xs-6 text-center eaten">

      <h3>Burgers that have been eaten!</h3>

      <div class="row">

        {{#each burgers}}
          {{#if this.devoured}}
            <div class="col-xs-9 text-center">
              <pre>{{this.id}}. {{this.burger_name}}</pre>
            </div>

            <div class="col-xs-3">
              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="0">
                <button class="btn btn-warning pull-right" type="submit">UN-EAT BURGER</button>
              </form>
            </div>
            
          {{/if}}
        {{/each}}
      </div>
      
    </div>
  </div>

  <div class="row bottom-row">
    <div class="col-xs-6">

      <h3>Add a burger</h3>

      <form class="create-update-form" action="burgers/create" method="POST">

        <div class="form-group">
          <label for="bg">Burger Name:</label>
          <input type="text" id="brg" name="burgerInput">
        </div>

        <button class="btn btn-primary" type="submit">ADD BURGER</button>
      </form>
    </div>

    <div class="col-xs-6">

      <h3>Delete a burger</h3>
      <form class="delete-form" action="burgers/delete?_method=DELETE" method="POST">

        <div class="form-group">
          <label for="brg">ID of the burger you want to delete:</label>
          <input type="number" id="brg" name="delete">
        </div>

        <button class="btn btn-danger" type="submit">DELETE BURGER</button>
      </form>
    </div>
  </div>
  
</div>